<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.webkit.PermissionRequest" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />


    <application>
        <uses-library android:name="libOpenCL.so"
            android:required="false"/>

        <uses-library android:name="libOpenCL-pixel.so"
            android:required="false"/>

        <activity
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:name=".CaptureActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>